<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.html" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
  </system.webServer>
  <system.web>


    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"
                 
  executionTimeout="90"

maxRequestLength="65536"

useFullyQualifiedRedirectUrl="false"

minFreeThreads="8"

minLocalRequestFreeThreads="4"

appRequestQueueLimit="100"

enableVersionHeader="true"
  />
    <customErrors mode="Off"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
  <connectionStrings>
    <!--<add name="connection" connectionString="server=DESKTOP-086AER5\SQLEXPRESS;user id=rajbir;pwd=rajbir;database=Arctic; Integrated Security = True;"/>-->
    <!--<add name="connection" connectionString="Server=sql8.gipdns.com,1533;Database=Chemla;User Id=ChemlaAD;Password=ChemlaAD@1234;Max Pool Size=2000;" />-->
    <add name="connection" connectionString="Server=94.23.215.72,1533;Database=arcticcash_arcticcash;User Id=arcti_cash;Password=Arctic@1234;Max Pool Size=2000;" />
    <add name="ToAdd" connectionString="mrthind.mail@gmail.com" />
    <add name="BCCAdd1" connectionString="arun3220@gmail.com" />
    <add name="BCCAdd2" connectionString="sukhraj.judge@gmail.com" />
  
    <add name="EmailAddressSupport" connectionString="support@arctic.cash" />
    <add name="EmailPassword" connectionString="!Heybaby7800" />
    <add name="EmailDomain" connectionString="mail.arctic.cash" />
    <add name="EmailSMTPPort" connectionString="25" />
    <add name="EmailHost" connectionString="mail.arctic.cash" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <!--<requestLimits maxAllowedContentLength="52428800" />-->
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
